<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>world around the worlddd around the </h1>
    <ul>
      <% @countries.each do |country| %>
        <li><%= country.name %></li>
      <% end %>
    </ul>

  </body>
</html>
